// grey
$color-grey: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-grey-light: #918f8a;
$color-grey-light-2: #eee;
$color-grey-light-3:#f2f2f2;

// white
$color-white: #fff;
$color-white-2: #f4f4f4;


//link color
$color-black: #000;


//$color-red
$color-red: red;


//color-blue
$color-blue: blue;
$color-purple:#45189e;
$color-secondary-blue:#0f3460;
$color-blue-neon:#1b03a3;

//color-green
$color-green: green;


$color-cyan: cyan;
$color-lightblue: lightblue;
$color-warning: yellow;
$color-secondary-warning: #f0eb54;
$color-secondary-red:#fc3d3d;
$color-pink: pink;
$color-secondary-pink:#521029;
$color-orangered: #FF6C37;
$color-postman-background:rgb(28, 39, 43);
$color-react-blue:#61dafb;
$color-Spring-green:#80ea6e;
$color-sass-pink:#f10576;

// color theme for e- commerce website
$color-primary-blue: #3398cc;
// Gig
$color-gig-primary: #28df99;
$color-gig-secondary: #99f3bd;
$color-gig-tertiary: #d2f6c5;
$color-gig-font: #f6f7d4;


//Penizgun
$color-pen-primary: #037971;
$color-pen-secondary: #9883E5;
$color-pen-tertiary: #BEE5BF;
$color-pen-font: #8789C0;
$color-pen-special: #DFF3E3;
