.projectDashboardNav{
  font-size: 1.5rem;
  text-transform: uppercase;
  background: $color-white;
  padding: 1.5rem 0;
  position: sticky;
  top:0;
  display: flex;
  justify-content: center;
  border: 1px solid rgba($color-black,.2);
  & a{
    color: $color-black;
    padding: 0 2rem;
    &:hover,&:focus{
      text-decoration: none;
    }
  }
}
