.projectDashboardNav{
  font-size: 1.5rem;
  text-transform: uppercase;
  background: $color-grey-dark-3;
  padding: 1.5rem 0;
  position: sticky;
  top:0;
  & a{
    color: $color-white;
    padding: 0 2rem;
    &:hover,&:focus{
      text-decoration: none;
    }
  }
}
