.projectDashboard{
  min-height: 100vh;
  width: 100vw;
  background: rgba($color-grey-light,1);
  padding: 9rem 20rem ;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  &__col1{
    position: relative;
    // overflow-y: auto;
    width:60%;
    border: 1px solid rgba($color-black,.2);
  }
  @import "./project-dashboard-aside";

}
