&__col2{
 width: 15%;
 position: sticky;
 overflow-y: auto;
 border: 1px solid rgba($color-black,.2);
 top:0rem;
 &_toggler{
   border: 1px solid rgba($color-black,.2);
   display: flex;
   justify-content:center;
   align-items: center;
   font-size: 1.5rem;
   text-transform: uppercase;
   background: $color-white;
   position: sticky;
   padding: 1.5rem 0;
   top:0;
   & div{
     text-align: center;
     flex-grow: 1;
     color: $color-black;
     padding: 0 2rem;
     cursor: pointer;
     &:hover,&:focus{
       text-decoration: none;
     }
   }
 }
 &_activities,&_members{
   &--div{
      height: 5rem;
      background: $color-white;
      padding: 2rem;
      color: $color-black;
      font-size: 1.2rem;
      border-bottom:  1px solid rgba($color-black,.2);
   }
 }
 &::-webkit-scrollbar{
   width: .8rem;
 }
 &::-webkit-scrollbar-track{
   background: $color-white;
 }
  &::-webkit-scrollbar-thumb{
   background: rgba($color-grey-dark-3,.4);
 }
 &::-webkit-scrollbar-thumb:hover{
   background: rgba($color-grey-dark-3,.8);
 }
}
