.projectDashboard{
  min-height: 100vh;
  width: 100vw;
  background: rgba($color-grey-light,1);
  padding: 2rem 15rem ;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  &__col1{
    position: relative;
    // overflow-y: auto;
    width:70%;
    border: 1px solid rgba($color-black,.2);
  }
  @import "./project-dashboard-aside";
  @import "./project-dashboard-userSidebar"
}
#AddMission__flexWrap
  {
    flex-flow: column;
    & > *{
      margin-bottom: 1rem;
      width: 100%;
    }
  }
