.createProjectMain{
  border: 1px solid rgba($color-black,.01);
  display: flex;
  background: $color-white;
  // flex-wrap: wrap;
  padding: 2rem;

  justify-content: space-between;
  width: 100%;
  position: relative;
  @include respond(tab-land){
     justify-content: center;
     flex-flow: column;
  }
  & > *{
    padding: 0 1rem;
    flex-basis: 33%;
    // padding-bottom: 0;
    @include respond(tab-land){
       flex-basis: 100%;
       // padding-top: 1rem;
       margin-top: 2rem;
    }
  }
  &__col1_input--text{
     height: 3rem;
     width: 30rem;
     margin-bottom: 2rem;
     border: none;
     border-bottom: 3px solid transparent;
     transition: all .2s;
     &:focus{
       border-bottom: 3px solid $color-grey-dark-3;
     }
  }
  &__col1_input--date{
     height: 3rem;
     width: 20rem;
     border: none;
     margin-top: 1rem;
  }
  &__col1_label{
     font-size: 1.5rem;
     text-transform: uppercase;
  }
  &__col1_input--textarea{
    height: 20rem;
    width: 45rem;
    margin-bottom: 2rem;
    border: none;
  }
  &__col1_input{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    background: rgba($color-grey-light,.5);
    &:focus{
      outline: none;
    }
    &:hover{
    }
  }
  @import "./create-project-main-col2"
}
.floater1{
   float: left;
   margin-right: 2rem;
   @include respond(tab-port){
      float: none;
      margin-bottom: 2rem;
   }
}
